/* Desktop View */
@media (max-width: 1280px) {
    body {
      background-image: url('https://previews.123rf.com/images/pixelliebe/pixelliebe1507/pixelliebe150700082/42768895-pnk-strawberry-ice-cream-background-texture.jpg');
      color:lemonchiffon;
    }
    .cone{
      border:solid red;
        width:190px;
        height:190px;
        background-image: url('https://www.clipartmax.com/png/middle/138-1387896_cute-pink-strawberry-label-cute-strawberry-logo.png');
        background-size:cover;
      }
  }
  /* ---------------------------------------------------------------- */
  /* Ipad -MidScreen */
  @media (max-width: 768px) {
    body {
      
      background-image:url('https://as2.ftcdn.net/v2/jpg/02/33/81/99/1000_F_233819987_9F42rOqpGgYGDFWkju6ECb0oc4D6a4fZ.jpg');
      color:black;
    }
    .cone{
      border:solid red;
        width:190px;
        height:190px;
        background-image: url('https://toppng.com/uploads/preview/vanilla-png-11553730312qkfmp9fd0x.png');
        background-size:cover;
      }
  }
  /* ---------------------------------------------------------------- */
  /* Mobile View */
  @media (max-width: 680px) {
    body {
      display: flexbox;
      background-image:url('https://st2.depositphotos.com/4278641/8758/i/950/depositphotos_87587010-stock-photo-chocolate-ice-cream-background.jpg');
      color:white;
    }

    .cone{
      border:solid red;
        width:190px;
        height:190px;
        background-image: url('https://png.pngtree.com/png-vector/20210112/ourmid/pngtree-delicious-chocolate-clipart-png-image_2712415.jpg');
        background-size:cover;
      }
  }
  @media (min-width:680px) {
        .descripton{
            display: flex;
            flex-direction: column;
        }
        .finalscoop{
            display: flex;
            flex-wrap: column;
            width: 50%;
            height: 50%;
        }
  }
    

  /* ---------------------------------------------------------------- */
